.main {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.header {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
  border: 1px solid red;
}
.content .link_container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0;
}
.content .link_container .link {
  background-color: transparent;
  height: 50px;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  border: 2px solid #fff;
  align-items: center;
  justify-content: center;
}
.content .link_container .link .title {
  margin-left: 1rem;
}
.footer {
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer div {
  border: 1px solid green;
  width: 80%;
  padding: 1rem;
}
.footer div p {
  text-align: center;
}