.main {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
}
.content .link_container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0;
}
@media (max-width: 500px) {
  .content .link_container {
    max-width: 80%;
  }
}
.content .link_container .link {
  background-color: transparent;
  height: 50px;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  border: 2px solid #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  transition: .3s ease-in all;
}
.content .link_container .link:hover {
  color: #000;
  box-shadow: 2px 2px 15px black;
  transform: scale(1.05);
}
.content .link_container .link::before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.7s ease-in-out all;
  bottom: 0;
  transform: translateY(-30px);
}
.content .link_container .link:hover::before {
  width: 800px;
  height: 800px;
  transform: translateY(100px);
}
.content .link_container .link .icon {
  z-index: 2;
  filter: brightness(0) invert(0);
}
.content .link_container .link .title {
  margin-left: 1rem;
  z-index: 2;
}
.content .promo {
  text-align: center;
  font-size: 0.8rem;
  border-bottom: 1px solid transparent;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
}
.content .promo:hover {
  border-bottom: 1px solid #fff;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer div {
  width: 80%;
  padding: 1rem;
}
.footer div p {
  text-align: center;
  font-size: 0.8rem;
}